#carreras{
  background-color: #FFB500;
}
a{
  color: rgba(8,58,99,1);
}

.contenedor{
  text-align: center;
}

#nombrec:focus + label, #cvervoe:focus + label, #fechar:focus + label{

}

#nombrec:focus, #cvervoe:focus, #fechar:focus{
 border-bottom: 1px solid #003865;
 box-shadow: none;
}
.nav-wrapper.x{
  background-color: #fff;
}
