
/* =================================================================================
    Content
================================================================================= */

/*----------------------------------------
    Cards
------------------------------------------*/
#card-stats .card-content {
  text-align: center;
}

#card-stats .card-stats-title {
  font-size: 1.2rem;
}

#card-stats .card-stats-title i {
  font-size: 1.2rem;
}

#card-stats .card-stats-compare {
  font-size: 1.0rem;
}

#card-stats .card-stats-compare i {
  position: relative;
  top: 5px;
}

#card-stats .card-stats-number {
  font-size: 1.8rem;
  line-height: 2.0rem;
  margin: 0.2rem 0 0.2rem 0;
  font-weight: 500;
}

#card-stats .card .card-content {
  padding: 10px 14px;
}

#card-stats .card .card-action {
  padding: 10px 14px;
}

/* alert card */
#card-alert i {
  font-size: 20px;
  position: relative;
  top: 2px;
}

#card-alert .alert-circle {
  display: inline-block;
  width: 40px;
  white-space: nowrap;
  border-radius: 1000px;
  vertical-align: bottom;
  position: relative;
  top: -5px;
  left: -2px;
}

#card-alert .single-alert {
  line-height: 42px;
}

#card-alert button {
  background: none;
  border: none;
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 20px;
  color: #fff;
}

#card-alert .card .card-content {
  padding: 20px 40px 20px 20px;
}

#card-alert .card-action i {
  top: 0;
  margin: 0;
}

/* work card */
#work-collections .collection-header {
  font-size: 1.14rem;
  font-weight: 500;
}

#work-collections p.collections-title {
  font-size: 1.0rem;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

#work-collections p.collections-content {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

#work-collections .collection-item.avatar {
  height: auto;
  padding-top: 22px;
}

/* flight card */
#flight-card .flight-card-title {
  margin: 0;
  font-weight: 300;
  color: #fff;
}

#flight-card .flight-card-date {
  font-size: 1.0rem;
  margin: 0;
  color: #fff;
}

#flight-card .flight-state {
  padding-bottom: 15px;
}

#flight-card .flight-state-two {
  border-left: 1px dashed #9e9e9e;
}

#flight-card .flight-icon {
  font-size: 2.2rem;
  display: block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

#flight-card .card-content-bg {
  background: url("../images/sample-1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#flight-card .card-content {
  background: rgba(0, 0, 0, 0.25);
}

#flight-card .flight-state-wrapper {
  margin: 0 0 100px 0 !important;
}

#flight-card .card-header .card-title {
  padding: 20px;
}

/* task card */
#task-card label {
  display: block;
  color: rgba(0, 0, 0, 0.87);
  height: auto;
}

#task-card .task-card-title {
  margin: 0;
  color: #fff;
  font-weight: 300;
}

#task-card .task-card-date {
  font-size: 1.0rem;
  margin: 0;
  color: #fff;
}

#task-card .collection-header {
  padding: 20px;
}

#task-card .task-add {
  position: absolute;
  right: 10px;
  top: 76px;
}

#task-card .task-cat {
  padding: 2px 4px;
  color: #fff;
  margin-left: 37px;
  font-weight: 300;
  font-size: 0.8rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
}

.task-cat {
  padding: 2px 4px;
  color: #fff;
  font-weight: 300;
  font-size: 0.8rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
}

.collection .collection-item.avatar i.circle {
  font-size: 28px;
}

/* profile card */
#profile-card .card-image {
  height: 150px;
}

#profile-card .card-profile-image {
  width: 70px;
  position: absolute;
  top: 110px;
  z-index: 1;
  cursor: pointer;
}

#profile-card .btn-move-up {
  position: relative;
  top: -40px;
  right: -18px;
  margin-right: 10px !important;
}

#profile-card .card-content p {
  font-size: 1.2rem;
  margin: 10px 0 12px;
}

.card-move-up .move-up {
  padding: 20px;
}


/*----------------------------------------
    Profile Page
------------------------------------------*/
#profile-page-header .card-image {
  height: 250px;
}

#profile-page-header .card-profile-image {
  width: 110px;
  position: absolute;
  top: 190px;
  z-index: 1;
  left: 40px;
  cursor: pointer;
  margin: 0;
}

#profile-page-header .card-content {
  margin-top: -40px;
}

#profile-page-header .card-content .card-title {
  margin-bottom: 0;
}

/*profile-page-wall*/
#profile-page-wall .profile-image-post {
  width: 60px;
  margin: 30px 10px;
}

#profile-page-wall .tab-content {
  padding: 10px;
}

#profile-page-wall .share-icons {
  margin-top: 10px;
}

#profile-page-wall .share-icons i {
  padding: 0 5px;
}

#profile-page-wall .tab-profile .tab i {
  font-size: 16px;
}

#profile-page-wall-posts .profile-small {
  height: 250px;
  overflow: hidden;
}

#profile-page-wall-posts .profile-medium {
  height: 350px;
  overflow: hidden;
}

#profile-page-wall-posts .profile-large {
  height: 450px;
  overflow: hidden;
}

#profile-page-wall-posts .card-profile-title {
  font-size: 16px;
  padding: 20px;
  border-radius: 0 0 2px 2px;
}

#profile-page-wall-posts .card-action-share {
  padding: 16px;
}
.btn-floating {
    background-color: rgba(8, 58, 99, 1);
}
.btn-floating:hover {
    background-color: rgb(8, 58, 99);
}

i.icon-blue {
    color: rgb(8, 58, 99);
}
.modal {
    width: 85% !important;
}

#misdatos{
  background-color: #FFB500;
}
