#usuarios{
  background-color: #FFB500;
}
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:80%;
}

.contenedor{
  text-align: center;
}

a{
  color: rgba(8,58,99,1);
}

#rol:focus + label, #nombre:focus + label, #apellidop:focus + label, #apellidom:focus + label, #pass:focus + label, #pass:focus + label {
 color: #003865;
}

#correo:focus + label, #sexo:focus + label, #fecha1:focus + label, #input-file-now:focus + label {
 color: #003865;
}

#curp:focus + label, #ncontrol:focus + label, #carrera:focus + label, #semestre:focus + label, #plan_est:focus + label {
 color: #003865;
}

#clavep:focus + label, #especialidad_profe:focus + label, #cedulap:focus + label, #nsocp:focus + label {
 color: #003865;
}

#clavec:focus + label, #carrera_coo:focus + label, #cedulac:focus + label, #nsocc:focus + label {
 color: #003865;
}


#rol:focus, #nombre:focus, #apellidop:focus, #apellidom:focus {
 border-bottom: 1px solid #003865;
 box-shadow: none;
}

#correo:focus, #sexo:focus, #fecha1:focus, #input-file-now:focus {
 border-bottom: 1px solid #003865;
 box-shadow: none;
}

#curp:focus, #ncontrol:focus, #carrera:focus, #semestre:focus, #plan_est:focus {
 border-bottom: 1px solid #003865;
 box-shadow: none;
}

#clavep:focus, #especialidad_profe:focus, #cedulap:focus, #nsocp:focus {
 border-bottom: 1px solid #003865;
 box-shadow: none;
}

#clavec:focus, #carrera_coo:focus, #cedulac:focus, #nsocc:focus, #pass:focus {
 border-bottom: 1px solid #003865;
 box-shadow: none;
}
