#grupos{
  background-color: #FFB500;
}

a{
  color:#003865;
}

a:hover{
  opacity: 0.8;
}

.contenedor{
  text-align: center;
}

.card-grupo{
  background-color: white;
}

.card-content{
  height: 15em;
  overflow: scroll;
}

.botonModal{
  width: 100%;
}

.contenedor-card:hover{
  cursor: pointer;
  opacity: 0.8
}

.titulo{
  font-weight: bold;
}

.botonModal:hover{
  cursor: pointer;
  opacity: 0.4;
}
