header,main, footer {
	padding-left: 300px;
}

.nav-wrapper{
  background-color: #FFB500;
	/* background-color: #003865; */
  overflow: hidden;
}

.sidenav{
  background-color: #003865;
	/* background-color: #FFB500; */
}

a{
  color:white;
}

.btn{
  /* background-color: rgba(0, 56, 101, 0.9); */
  background-color: #003865;
	border-radius: 20px;
}

.btn:hover{
  background-color: rgba(0, 56, 101, 0.9);
}



@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}

}
