body{
  font-family: Verdana;
  font-size: 10px;
  color: black;
  text-transform: uppercase;
}

.bodyPDF{
  font-family: Verdana;
  font-size: 10px;
  color: black;
  text-transform: uppercase;
}

.headPDF{
  text-align: center;
  color: rgb(8,58,99);
  font-family: "Calibri";
  font-weight: bold;
  font-size: 25px;
}

.head2PDF{
  font-family: Verdana;
  font-weight: bold;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
}

.subHeadPDF {
  text-align: center;
  font-family: Verdana;
  font-weight: bold;
  font-size: 12px;
  color: white;
  background: rgb(8,58,99);
  margin: 0 0 15px;
  overflow: hidden;
  padding: 5px;
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border: 2px solid #5878ca;
}

.tabPDF{
  color: rgb(8,58,99);
  font-family: Verdana;
  font-weight: bold;
  font-size: 10px;
}

table td:first-child {
	width: 20;
}

table td:nth-child(3) {
	width: 50%;
}
