header,main, footer {
	padding-left: 280px;
}

.nav-wrapper{
  background-color: #FFB500;
	/* background-color: #003865; */
  overflow: hidden;
}

.sidenav{
  background-color: rgba(8,58,99,1);
	/* background-color: #FFB500; */
  width: 280px;

}

a{
  color:white;
}

.btn{
  /* background-color: rgba(0, 56, 101, 0.9); */
  background-color: #003865;
	border-radius: 20px;
}

.btn:hover{
  background-color: rgba(0, 56, 101, 0.9);
}

footer.page-footer {
  padding-top: 0px;
  color: #fff;
  background-color: rgba(8,58,99,0.85);
  margin-top: 6em;
}
.page-footer .container {
  padding: 0 15px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}

}
